@import "bootstrap-custom";
@import "colors";

header {
    background-color: $colorLightBlue500;
    margin-bottom: 10px;

    h1 {
        color: white;
    }

    h3 {
        color: rgba(white, .7);
    }
}

.card-header {
    background-color: $colorLightBlue200;
    // color: white;
}
