@import "lib/bootstrap-custom";

$colorBlue: #03A9F4;
$colorLightBlue: #B0E4FB;

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

main a {
    color: $colorBlue;
    display: inline-block;
    margin-bottom: 35px;
}

main .fake-link {
    color: $colorBlue;
    margin-bottom: 35px;
}

.header {
    background-color: $colorBlue;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 28px 0;
}

.header-title {
    font-weight: 300;
    color: white;
    font-size: 46px;
    line-height: 1;
}

.header-subtitle {
    font-weight: 300;
    color: $colorLightBlue;
    font-size: 34px;
}

.main {
    margin: 28px;
}

.img-moi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 25px;
}

.section-title {
    font-family: 'Bitter', serif;
    font-weight: normal;
    color: $colorBlue;
    position: relative;
    text-align: center;
}

.section-title > span {
  background: #fff;
  padding: 0 5px;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.section-title:before {
  background: $colorBlue;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
    top: 50%;
  width: 100%;
}

.section-title:before {
  left: 0;
}

.img-project {
    margin-left: -25px;
}

.footer {
    margin: 28px;
}

.footer .section-title:before {
  background: white;
  font-size: 18px;
  content: "ludovio@gmail.com";
  border: solid $colorBlue 2px;
  color: #373a3c;
  display: block;
  height: inherit;
  position: absolute;
    top: 50%;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
