$grid-breakpoints: (
    // Extra small screen / phone
        xs: 0,
    // Small screen / phone
        sm: 1em,
    // Medium screen / tablet
        md: 1em,
    // Large screen / desktop
        lg: 62em,
    // Extra large screen / wide desktop
        xl: 75em
) !default;

@import "main";

.section.projects > .row > div {
    page-break-inside: avoid;
    top: 200px;
}

.section.projects {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.project-1,
.project-2 {
    top: 200px;
}
